@media only screen and (min-width: 600px){

    /* footer css style */
    footer{
      position: fixed;
      bottom: 0;
      display: inline-flex;
      justify-content: space-between;
      align-items: flex-start;

      width: 100%;
      min-height: 40px;
    }

    footer > .link{
      margin-top: 10px;

      display: inline-flex;
      margin-right: 3vw;
      align-items: center;
    }

    footer > .link > a {
      display: inline-flex;
      text-decoration: none;
      align-items: center;
    }

    footer > .link > a > p {
      margin: 0 40px 0 10px;
      font-weight: bold;
      font-size: 18px;
    }

    .fa-gitlab, .fa-linkedin {
      font-size: 25px;
    }

    .fa-gitlab{
      font-weight: 900;
      color: #ff5e00;

    }
}
