@media only screen and (min-width: 600px){

  nav{
    display: none;
  }

    /* nav {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;

      height: 6vh;
      width: 100%;

      font-size: 20px;
      font-weight: 900;

      border-radius: 5px;
    }

    nav > div {
      margin: 4px 0px;
      margin-bottom: 10px;
    } */
}
