@media only screen and (min-width: 600px){

    .toggle > svg{
      width: 50px;
      height: 20px;
      
    }

    #toggle #dot{
      transition: all 0.2s;
    }

    .day .toggle > svg{
      fill: var(--dayFillSvg);
    }

    .night .toggle > svg{
      fill: var(--nightFillSvg);
    }

    .toggle > p{
      margin-left: 5px;
    }

    .toggle{
      display: inline-flex;
      align-items: center;
      flex-direction: row-reverse;

      margin-top: 10px;

      margin-left: 1vw;
      font-size: 30px;
    }
}
